<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles -->
    <link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">

</head>

<body>

<h1>The linear regression score is, {{ bCE }}!</h1>
<h1>The decision tree score is, {{ decision_tree }}!</h1>
<h2>I know these numbers are way off and should be different, but I have no idea what I did wrong</h2>

</body>
</html>